<%= form_for @design do |f| %>

<div id="form-heading" class="paper">Edit Design</div>

<p class="fieldset">

  <%= f.label :name, :class => "image-replace name" %>
  <%= f.text_field :name, :required => true, :autofocus => true, placeholder: "Name of Design" %>

  <%= f.label :image, :class => "image-replace image" %>
  <%= f.url_field :image, placeholder: "Link to Image" %>

  <%= f.label :difficulty, :class => "image-replace difficulty" %>
  <%= f.select :difficulty, ['Beginner', 'Intermediate', 'Advanced'], :prompt => 'Difficulty' %>

  <%= f.label :instructions, :class => "image-replace link" %>
  <%= f.text_field :instructions, placeholder: "Link to Instructions" %>

  <%= f.label :creator_id, :class => "image-replace username" %>
  <%= f.select :creator_id, Creator.pluck(:name, :id), :prompt => "Creator Name" %>


     <%= f.fields_for :design_rating do |g| %>
     <%= g.label :rating_value, :class => "image-replace" %>
       <%= g.text_field :rating_value, placeholder: "Rating" %>

     <% end %>
  <%= f.submit 'EDIT DESIGN', :class => "submit" %>
  </p>
<% end %>
