<div id="gallery">
  <h2>Designs</h2>
  <div class="container">
  <div id="search">    <%= image_tag 'icon-search.svg', :class => "search" %>

  <%= form_tag(designs_path, method: :get) do %>
  <%= autocomplete_field_tag :term, params[:term], autocomplete_design_name_designs_path, placeholder: 'Search by name, difficulty or creator' %>
  <%= submit_tag 'Search', name: nil, class: "submit" %>

<% end %></div>
<br>
<% @designs.each do |design| %>
  <% if design.image.present? %>
    <div class="thumb hvr-float">
     <%= link_to image_tag(design.image, alt: design.name), design %><div class="label"><%= design.name %></div></div>
  <% else %>
  <div class="thumb hvr-float">
   <%= link_to image_tag('default.png', alt: design.name), design %><div class="label"><%= design.name %></div></div>
    <% end %>
  <% end %></div>
</div>
