<%= form_for @creator do |f| %>

<div id="form-heading" class="paper">Edit a Creator</div>

<p class="fieldset">

  <%= f.label :name, :class => "image-replace username" %>
  <%= f.text_field :name, :required => true, :autofocus => true, placeholder: "Name of Creator" %>

  <%= f.label :nationality, :class => "image-replace nationality" %>
  <%= f.text_field :nationality, placeholder: "Nationality" %>

  <%= f.label :website, :class => "image-replace link" %>
  <%= f.url_field :website, placeholder: "Website URL" %>

  <%= f.label :image, :class => "image-replace image" %>

  <% if @creator.image.present? %>
    <%= f.url_field :image, placeholder: "Link to Image" %>
    <%= f.file_field :image, :id => "file_edit", placeholder: "Link to Image" %>
  <% else %>
    <%= f.file_field :image, placeholder: "Link to Image" %>
  <% end %>
  <%= hidden_field_tag :image_link %>

  <%= f.submit 'EDIT CREATOR', :class => "submit" %>
  </p>
<% end %>
