<%= form_for @creator do |f| %>

<div id="form-heading" class="paper">Add a Creator</div>

<p class="fieldset">

  <%= f.label :name, :class => "image-replace username" %>
  <%= f.text_field :name, :required => true, :autofocus => true, placeholder: "Name of Creator" %>

  <%= f.label :nationality, :class => "image-replace nationality" %>
  <%= f.text_field :nationality, placeholder: "Nationality" %>

  <%= f.label :website, :class => "image-replace link" %>
  <%= f.url_field :website, placeholder: "Website URL" %>

  <%= f.label :image, :class => "image-replace image" %>
  <%= f.file_field :image, :id => "dropzone-area" %>

  <%= hidden_field_tag :image_link %>

  <%= f.submit 'ADD CREATOR', :class => "submit" %>
  </p>
<% end %>
