<div class="container">

<h2><%= @creator.name %></h2>
<% if @creator.image.present? %>
<li>Nationality: <%= @creator.nationality %></li>
<% end %>
<% if @creator.website.present? %>
<li><%= link_to 'Website', @creator.website %></li>
<% end %>

<% if @creator.image.present? %>
<%= image_tag @creator.image, :class => 'feature', :alt => @creator.name %>
<% end %>
</div>
<div class="showcase">
<% unless @creator.designs.empty? %>
<h3>Designs</h3>

<% @creator.designs.each do |design| %>
<div class="thumb hvr-float">
 <%= link_to image_tag(design.image, alt: design.name), design  %><div class="label"><%= design.name %></div></div>
<% end %>
<% end %></div>
<div class="container">
  <div class="controls">
    <li><%= image_tag('icon-edit.svg', alt: 'Edit Icon', :class => 'icon') %><%= link_to 'Edit Creator', edit_creator_path(@creator) %></li>
    <li><%= image_tag('icon-delete.svg', alt: 'Delete Icon', :class => 'icon') %><%= link_to 'Delete Creator', @creator, :method => 'delete', :data => { :confirm => 'Are you sure?' } %></li>
  </div>
</div>
