<!DOCTYPE html>
<html>
  <head>
    <title>Origame DB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <dl class="list maki">
      <dt>Navigation</dt>
        <% if @current_user.present? %>
          <dd><%= link_to 'Home', root_path %></dd>
          <dd><%= link_to 'Log Out', login_path, :method => 'delete' %></dd>
        <% elsif current_page?(controller: 'sessions', action: 'new') %>
          <dd><%= link_to 'Home', root_path %></dd>
          <dd> <%= link_to 'Register', new_user_path %></dd>
        <% elsif current_page?(controller: 'users', action: 'new') %>
          <dd><%= link_to 'Home', root_path %></dd>
          <dd><%= link_to 'Login', login_path %></dd>
        <% else %>
          <dd><%= link_to 'Home', root_path %></dd>
          <dd><%= link_to 'Login', login_path %></dd>
          <dd><%= link_to 'Register', new_user_path %></dd>
        <% end %>
    </dl>
  <% if current_page?(controller: 'pages', action: 'home') %>
    <div class="hero paper"><%= image_tag 'origame-hero.png' %></div>
    <div class="arrow"><%= image_tag 'arrow.png' %></div>
  <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
